.alphabet {
	display flex
	align-items center
	justify-content center

	margin 2rem

	p {
		margin 0 2rem

		&:first-letter {
			display inline-block
			font-weight bold
			margin-right .75rem
		}
	}
}
