*, *::after, *::before {
	box-sizing border-box
	margin 0
	padding 0
}

html {
	font-size 62.5%
}

body {
	background #333
	color #aaa
	font 1.6rem/1.5em $sans
	padding 2rem 4rem
}

a {
	color #fff
	text-decoration none

	&:active, &:hover {
		color #ccc
	}
}
