body .buttons {
	display flex
	justify-content space-around

	.table {
		&:first-of-type {
			max-width 90rem

			.row {
				display grid
				grid-template-columns 1fr 1fr 1fr 1fr 1fr
			}
		}

		&:last-child {
			.row {
				display grid
				grid-template-columns 1fr 1fr
			}
		}
	}
}
