body .memory {
	display flex
	flex-wrap wrap
	justify-content space-around

	.table {
		padding 2rem 4rem
		max-width 70rem

		.row {
			display grid
			grid-template-columns 1fr 1fr 1fr 1fr 1fr
		}
	}
}
