body .morse {
	display flex
	justify-content center

	.table {
		.row {
			display grid
			grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
		}

		.col {
			padding .25rem 2rem

			&:not(:first-child):not(:last-child) {
				font-weight 700
				letter-spacing .5rem
			}

			&:first-child {
				font-family $mono
			}
		}
	}
}
