body .symbols {
	max-width 120rem
	margin 0 auto

	display flex
	justify-content space-around

	text-align center

	.col {
		.row {
			margin 2rem 0
		}
	}

	img {
		display block
		height 8rem
		filter invert(.667)
		margin 0 auto
	}
}
